<ion-header>
  <ion-toolbar>
    <ion-title>Ads <img src="/assets/images/dolar.png" width="25px" style="float: right;"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ card.titulo }}</ion-card-title> 
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" (click)="abrirAnuncio('Proprio')">
              Anuncio Proprio
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" (click)="abrirAnuncio('Surfar')">
              Surfar
            </ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" (click)="abrirAnuncio('ADS')">
              ADS
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" (click)="abrirAnuncio('A-Ads')">
              A-Ads
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
