<ion-header>
  <ion-toolbar>
    <ion-title>Fazer Login <img src="/assets/images/dolar.png" width="25px" style="float: right;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div *ngIf="loginForm">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="login" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" type="password"></ion-input>
          </ion-item>
          <BR>
          <ion-button block color="primary" expand="block" type="submit" [disabled]="!loginForm.valid">
            Login
          </ion-button>
        </form>

        <ion-button  routerDirection="forward" component="register" color="warning" expand="block" href="/register">
          Registrar-se
        </ion-button>
        
        <ion-button routerDirection="forward" component="register" color="warning" expand="block" (click)="getUser()">
          Ver se ta logado
        </ion-button>
        <ion-button routerDirection="forward" component="register" color="danger" expand="block" (click)="signOut()">
          Sair
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
