<ion-header>
  <ion-toolbar>
    <ion-button href="tabs/inicio" style="padding-left: 2%;">
      < Voltar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide style="padding: 5%; text-align: center;">
      <ion-grid fixed>
        <ion-row>
          <h1 align="center">Ajudamos você a conseguir seus primeiros BitCoins</h1>
        </ion-row>
        <ion-row>
          <p><img src="assets/images/slide1.jpg" style="border-radius: 10%;"></p>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate consequuntur ut nulla laboriosam molestiae, expedita nobis totam? Doloremque aut quos minus eius molestias commodi exercitationem saepe, impedit velit minima!</p>
        </ion-row>
      </ion-grid>
    </ion-slide>
  
    <ion-slide style="padding: 5%; text-align: center;">
      <ion-grid fixed>
        <ion-row>
          <h1 align="center">O primeiro passo é registrar um email valido</h1>
        </ion-row>
        <ion-row>
          <p><img src="assets/images/slide2.jpg" style="border-radius: 10%;"></p>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate consequuntur ut nulla laboriosam
            molestiae, expedita nobis totam? Doloremque aut quos minus eius molestias commodi exercitationem saepe, impedit
            velit minima!</p>
        </ion-row>
      </ion-grid>
    </ion-slide>
  
    <ion-slide style="padding: 5%; text-align: center;">
      <ion-grid fixed>
        <ion-row>
          <h1 align="center">Juntar satoshis ganhos dentro do App</h1>
        </ion-row>
        <ion-row>
          <p><img src="assets/images/slide3.jpg" style="border-radius: 10%;"></p>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate consequuntur ut nulla laboriosam
            molestiae, expedita nobis totam? Doloremque aut quos minus eius molestias commodi exercitationem saepe, impedit
            velit minima!</p>
        </ion-row>
      </ion-grid>
    </ion-slide>
    
    <ion-slide style="padding: 5%; text-align: center;">
      <ion-grid fixed>
        <ion-row>
          <h1 align="center">Os satoshis serão armazenados em sua carteira no App</h1>
        </ion-row>
        <ion-row>
          <p><img src="assets/images/slide4.jpg" style="border-radius: 10%;"></p>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate consequuntur ut nulla laboriosam
            molestiae, expedita nobis totam? Doloremque aut quos minus eius molestias commodi exercitationem saepe, impedit
            velit minima!</p>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide style="padding: 5%; text-align: center;">
      <ion-grid fixed>
        <ion-row>
          <h1 align="center">Os satoshis guardados poderão ser transferidos para qualquer carteira de BitCoins</h1>
        </ion-row>
        <ion-row>
          <p><img src="assets/images/slide5.jpg" style="border-radius: 10%;"></p>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate consequuntur ut nulla laboriosam
            molestiae, expedita nobis totam?</p>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide style="padding: 5%; text-align: center;">
      <ion-grid fixed>
        <ion-row>
          <h1 align="center">Estes por sua vez poderão ser usados como moeda ou trocado</h1>
        </ion-row>
        <ion-row>
          <p><img src="assets/images/slide6.jpg" style="border-radius: 10%;"></p>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate consequuntur</p>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
